/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@theme {
  --color-primary: #0f2854;
  --color-buttons: #0057CA;
  --color-secondary: #1E3A8A;

}